SUPABASE_URL=
SUPABASE_KEY=
SERVICE_KEY=
SUPABASE_HOST=
SUPABASE_PORT=
SUPABASE_DB=
SUPABASE_USER=
SUPABASE_PASSWORD=
GEMINI_API_KEY=
SUPABASE_PPM_HOST=
SUPABASE_PPM_PORT=
SUPABASE_PPM_DB=
SUPABASE_PPM_USER=
SUPABASE_PPM_PASSWORD=
INSEE_API_KEY=
SUPABASE_DIRECT_URL=
